@charset "UTF-8";
/* 変数 ------------------------------- */
/* 共通 ------------------------------- */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.media {
  font-size: 16px;
}

.media-border {
  border: 2px solid #48575e;
}

.media-container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .media {
    font-size: 18px;
  }
  .media-border {
    border: 3px solid #48575e;
  }
  .media-container {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .media {
    font-size: 20px;
  }
  .media-border {
    border: 4px solid #48575e;
  }
  .media-container {
    margin: 0 5% 0 auto;
  }
}
body {
  color: #48575e;
  font-family: "Avenir Next", "Hiragino Sans", sans-serif;
  font-weight: 600;
  transition: 2s;
  position: relative;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 98%;
  max-width: 1024px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-menu {
  width: 35%;
  height: 80lvh;
  display: none;
  position: fixed;
  top: 10%;
  left: 5%;
}

@media screen and (min-width: 1024px) {
  .media-container {
    width: 50%;
  }
  .side-menu {
    display: block;
  }
}
.smoke-top {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
}

.smoke-bottom {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
}

.rope {
  position: absolute;
  top: 0;
  bottom: 180px;
  right: 15%;
  width: 8px;
  border: 1.5px solid black;
  background: linear-gradient(to right, rgb(192, 169, 124) 0%, rgb(210, 184, 134) 40%, rgb(146, 127, 90) 100%);
  z-index: 20;
}

.climber-frame {
  position: fixed;
  width: 8px;
  bottom: 10%;
  z-index: 30;
}

.climber {
  width: 120px;
  height: 180px;
  transform: translate(45%);
  background-image: url("../images/climber.svg");
  background-size: 500% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 30;
  float: right;
  animation: none;
}

@keyframes climbing {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -240px 0;
  }
}
.scroll-down {
  display: none;
  position: absolute;
  top: -100px;
  left: -230px;
  width: 250px;
}

.scroll-top {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

.button {
  background-color: #eb5e30;
  color: white;
  text-decoration: none;
  padding: 6px 18px;
  border-radius: 24px;
  position: relative;
  display: inline;
  z-index: 10;
  cursor: pointer;
}

/* ヘッダー ------------------------------- */
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-color {
  background-color: rgba(255, 255, 255, 0);
}

.header-color-open {
  background-color: #fbcb7b;
}

.logo {
  font-weight: 900;
  font-size: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-menu {
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}
.hamburger-menu_bar {
  display: inline-block;
  width: 50%;
  height: 3px;
  background: #48575e;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.hamburger-menu_bar:first-child {
  top: 16px;
}

.hamburger-menu_bar:nth-child(2) {
  top: 24px;
}

.hamburger-menu_bar:last-child {
  top: 32px;
}

.hamburger-menu-open .hamburger-menu_bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu_bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.hamburger-menu-open .hamburger-menu_bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.hamburger-menu-open .hamburger-menu_bar:nth-child(2) {
  display: none;
}

.navigation {
  display: none;
  background: #fbcb7b;
  position: absolute;
  top: 50px;
  height: 100lvh;
  left: 0;
  width: 100%;
  z-index: 90;
}

.navi-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 1024px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navigation-list {
  list-style: none;
  padding: 8px 0 0 0;
  margin: 0;
  line-height: 1.3;
}

.navigation-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 0;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eb5e30;
  border-radius: 24px;
  padding: 4px 8px;
  margin-bottom: 6px;
}

.side-navigation-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 0;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eb5e30;
  border-radius: 24px;
  padding: 4px 8px;
  margin-bottom: 6px;
}

/* メイン ------------------------------ */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  height: 100lvh;
  background-image: url("../images/bg-water.svg");
  background-size: cover;
  transform: translateZ(0.01px);
}

.area-top {
  width: 100%;
  height: 100vh;
  margin-bottom: 8px;
}

.area {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.area-orange {
  width: 100%;
  padding: 40px 0;
  position: relative;
  margin-bottom: 8px;
  background-color: #eb5e30;
  border-top: 3px solid #48575e;
  border-bottom: 3px solid #48575e;
}

.area-horizon {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}

.area-vertical {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.text-box {
  background-color: white;
  padding: 8px;
  border: 3px solid #48575e;
  border-radius: 12px;
  position: relative;
  z-index: 50;
}

.subtitle {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 50;
}

.push {
  position: absolute;
  width: 10%;
  transform: rotate(-10deg);
  bottom: 0;
  left: 0%;
}

.mugi-selif {
  background-image: url("../images/selif.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3% 10% 6% 10%;
  height: 40%;
  display: none;
  text-align: center;
  z-index: 50;
  font-size: 2em;
  font-weight: 800;
}

.palette {
  position: absolute;
  bottom: -350px;
  left: -150px;
  border-radius: 50%;
  width: 300px;
  aspect-ratio: 1/1;
}

.palette-re {
  position: absolute;
  bottom: -500px;
  left: -300px;
  width: 600px;
  aspect-ratio: 1/1;
}

.bg-button {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
.bg-button:active {
  width: 30%;
  height: 30%;
}

.bg-palette-button {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.bg-arrow {
  width: 80%;
  height: 80%;
  transform: rotateZ(-90deg);
  transition: 0.5s;
}

.bg-arrow-reverse {
  transform: rotateZ(90deg);
}

.bg-text {
  transform: translateX(-100%);
  transition: 0.5s;
  font-size: 1.2em;
}

.bg-palette {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  padding-left: 4px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 50;
  transform: translateX(-100%);
  transition: 0.5s;
}

.bg-palette-appear {
  transform: translateX(0);
}

.bg-picker {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 4px;
}
.bg-picker:active {
  transform: scale(1.3, 1.3);
}

.news {
  background-color: #fbcb7b;
  border-radius: 24px;
  margin: 12px 5%;
  padding: 12px 24px;
  z-index: 30;
}

.game-frame {
  width: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-button {
  width: 70%;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  color: #fbcb7b;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: #eb5e30;
  box-shadow: 0px 12px 0 #7a5143;
  transition: 0.3s;
  cursor: pointer;
}

.arrow {
  width: 10%;
  margin: 24px auto;
  display: block;
}

.pop-sub {
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.menu-title {
  font-size: 2em;
  line-height: 1;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  border-bottom: 10px double #48575e;
  margin: 0 auto;
}

.plan-slider {
  width: 100%;
  margin: 16px auto 64px auto;
  z-index: 40;
}

.option-slider {
  width: 100%;
  margin: 16px auto 64px auto;
  z-index: 40;
}

.plan {
  width: 80%;
  aspect-ratio: 1/1;
  margin: 0 8px;
  border-radius: 50%;
  border: 3px solid #48575e;
  position: relative;
}

.plan-image {
  width: 100%;
}

.option {
  position: relative;
  width: 40%;
  aspect-ratio: 1/1;
  margin: 0 8px;
  background-color: #fbcb7b;
  border-radius: 50%;
  border: 3px solid #48575e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan-top {
  margin: 5% auto 0 auto;
  height: 40%;
}

.plan-title {
  text-align: center;
  font-size: clamp(16px, 6vw, 64px);
  line-height: 1.3;
}

.option-title {
  text-align: center;
  line-height: 1;
  font-size: clamp(16px, 4vw, 48px);
}

.button-plus {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 25%;
}

.button-hide {
  position: absolute;
  top: -10px;
  right: -10px;
  transform: rotateZ(45deg);
  width: 40px;
}

.bird-slider {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 30%;
  left: -120%;
  animation: birds 5s linear infinite;
}

@keyframes birds {
  0% {
    left: -120%;
    top: 60%;
  }
  80% {
    left: -120%;
    top: 60%;
  }
  100% {
    left: 100%;
    top: -100%;
  }
}
.modal-frame {
  position: fixed;
  z-index: 110;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  background-color: beige;
  border: 3px solid #48575e;
  width: 80%;
  max-width: 600px;
  border-radius: 24px;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
}

.area-footer {
  width: 100%;
  padding: 40px 0 60px 0;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
  background-color: #fbcb7b;
  border-top: 3px solid #48575e;
}

/* jquery ---------------------------------- */
.fade-in-left {
  transform: translate(-100%, 0);
  transition: 1s;
}

.fade-in-right {
  transform: translate(100%, 0);
  transition: 1s;
}

.fade-in-bottom {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1s;
}

.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.is-disappear {
  transform: scale(0);
  transition: 0.5s ease-out;
}

.is-appear {
  transform: scale(1);
}

.wani {
  animation: r-to-l 20s linear infinite, up-down 1s steps(2) infinite;
}

@keyframes r-to-l {
  0% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}
.rakko {
  animation: l-to-r 20s linear infinite;
}

@keyframes l-to-r {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
@keyframes up-down {
  0% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.kirin {
  animation: peeping 7s linear infinite;
}

@keyframes peeping {
  0% {
    left: -50%;
  }
  45% {
    left: -50%;
  }
  50% {
    left: -5%;
  }
  95% {
    left: -5%;
  }
  100% {
    left: -50%;
  }
}
.shake {
  transform: rotate(10deg);
  animation: shake-anim 3s linear infinite;
}

@keyframes shake-anim {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.rotate {
  animation: rotate-anim 5s linear infinite;
}

@keyframes rotate-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=design.css.map */