/* 変数 ------------------------------- */
$base-color: #b9d9c3;
$bg-color: #84fff9;
$primary-color: #eb5e30;
$secondary-color: #fbcb7b;
$tertialy-color: rgb(117, 42, 7);
$font-color: #48575e;
$font-subcolor: green;
/* 共通 ------------------------------- */
html {
    scroll-behavior: smooth;
}
.media {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .media {
        font-size: 18px;
    }
}
@media screen and (min-width: 1024px) {
    .media {
        font-size: 20px;
    }
}
body {
    color: $font-color;
    font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
    font-weight: 600;
    transition: 2s;
    position: relative;
    margin: 0;
    background-color: white;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    height: 100lvh;
    background-image: url("../images/bg-water.svg");
    background-size: cover;
    transform: translateZ(0.01px);
}
.container {
    margin: 0 auto;
    width: 98%;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.smoke-top {
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
}
.smoke-bottom {
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
}
.sentense {
    margin-bottom: 24px;
    line-height: 2;
}
.left-frame {
    border-left: 10px solid $primary-color;
    padding-left: 12px;
    font-size: 1.5em;
}
li {
    margin-bottom: 12px;
}
footer {
    height: 100px;
    position: relative;
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 50px;
    z-index: 100;
}
.mugi {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}
.return {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: $secondary-color;
    border-radius: 24px;
    cursor: pointer;
    z-index: 100;
    padding: 4px 8px;
}
/* ヘッダー ------------------------------- */
header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-color {
    background-color: rgba($color: white, $alpha: 0.0)
}
.logo {
    font-weight: 900;
    font-size: 24px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* プラン --------------------------- */
.area {
    margin: 40px 0 0 0;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    height: 100lvh;
    background-image: url("../images/bg-water.svg");
    background-size: cover;
    transform: translateZ(0.01px);
}
.menu-area {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .menu-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.menu {
    background-color: $secondary-color;
    border-radius: 24px;
    flex: 1;
    margin: 8px 4px;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
}
.button-small {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: $primary-color;
    border-radius: 24px;
    cursor: pointer;
    padding: 4px 8px;
    margin: 24px auto 8px auto; 
}
.circle {
    background-color: $secondary-color;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50%;
    left: 0;
    border-radius: 50%;
    z-index: 0;
}
.button-wide {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: $primary-color;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1.3em;
    padding: 8px 8px;
    margin: 24px 10% 24px 10%; 
}
.plan-title {
    font-size: clamp(16px, 3em, 48px);
    margin-top: 20px;
    padding-top: 80px;
}
.plan-subtitle {
    width: fit-content;
    border-bottom: 4px solid $primary-color;
}
.status-area {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.status {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px;
}
/* JS --------------------------------*/
.fade-in-right {
    transform: translate(100%, 0);
    transition: 1s;
}
.fade-in-left {
    transform: translate(-100%, 0);
    transition: 1s;
}
.fade-in-anywhere {
    transform: rotateX(90deg);
    transition: 1s;
}
.is-show {
    transform: translate(0, 0);
}
.is-flip {
    transform: rotateX(720deg);
}
