@charset "UTF-8";
/* 変数 ------------------------------- */
/* 共通 ------------------------------- */
.media {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .media {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .media {
    font-size: 20px;
  }
}
body {
  color: #48575e;
  font-family: "Avenir Next", "Hiragino Sans", sans-serif;
  font-weight: 600;
  transition: 2s;
  position: relative;
  background-color: #b9d9c3;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 98%;
  max-width: 1024px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.smoke-top {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 80px;
}

.smoke-bottom {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  position: fixed;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 80px;
}

.rope {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15%;
  width: 8px;
  border: 1.5px solid black;
  background: linear-gradient(to right, rgb(192, 169, 124) 0%, rgb(210, 184, 134) 40%, rgb(146, 127, 90) 100%);
  z-index: 20;
}

.climber-frame {
  position: fixed;
  width: 8px;
  bottom: 15%;
  z-index: 30;
}

.climber {
  width: 120px;
  height: 180px;
  transform: translate(45%);
  background-image: url(images/climber.svg);
  background-size: 300% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 30;
  float: right;
  animation: none;
}

@keyframes climbing {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -240px 0;
  }
}
/* ヘッダー ------------------------------- */
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-color {
  background-color: rgba(255, 255, 255, 0);
}

.header-color-open {
  background-color: rgb(251, 203, 123);
}

.logo {
  font-weight: 900;
  font-size: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-menu {
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.hamburger-menu_bar {
  display: inline-block;
  width: 50%;
  height: 3px;
  background: #48575e;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.hamburger-menu_bar:first-child {
  top: 16px;
}

.hamburger-menu_bar:nth-child(2) {
  top: 24px;
}

.hamburger-menu_bar:last-child {
  top: 32px;
}

.hamburger-menu-open .hamburger-menu_bar {
  top: 50%;
}

.hamburger-menu-open .hamburger-menu_bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.hamburger-menu-open .hamburger-menu_bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.hamburger-menu-open .hamburger-menu_bar:nth-child(2) {
  display: none;
}

.navigation {
  display: none;
  background: rgb(251, 203, 123);
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 9999;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navigation_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation_link {
  font-weight: 700;
  font-size: 16px;
  color: #48575e;
  text-decoration: none;
  display: block;
  padding: 8px 24px;
  transition: 0.5s;
}

/* メイン ------------------------------ */
.area-top {
  width: 100%;
  height: 100vh;
  margin-bottom: 8px;
}

.area {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.area-horizon {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}

.area-vertical {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.text-box {
  background-color: white;
  padding: 8px;
  border: 3px solid #48575e;
  border-radius: 12px;
  position: relative;
  z-index: 50;
}

.push {
  position: absolute;
  width: 15%;
  transform: rotate(-10deg);
  bottom: 0;
  left: 5%;
}

.mugi-selif {
  background-image: url("images/selif.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 30% 0;
  padding-bottom: 5%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 50;
  font-size: 2em;
  font-weight: 800;
}

.pop-sub {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  color: #eb5e30;
  -webkit-text-stroke: 2px #48575e;
}

.plan-slider {
  width: 100%;
  margin: 16px auto 64px auto;
  height: 80vh;
  z-index: 40;
}

.plan {
  width: 80%;
  height: 80vh;
  margin: 0 8px;
  background-color: rgb(255, 251, 215);
  border-radius: 24px;
}

.bird-slider {
  position: absolute;
  width: 120%;
  height: 50%;
  top: 30%;
  left: -100%;
  animation: birds 10s linear infinite;
}

@keyframes birds {
  to {
    left: 100%;
    top: 60%;
  }
}
.bird-1 {
  width: 30%;
  position: absolute;
  top: 10%;
  left: 10%;
}

.bird-2 {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 35;
}

.bird-3 {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 20;
}

/* jquery ---------------------------------- */
.fade-in-left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 2s;
}

.fade-in-right {
  opacity: 0;
  transform: translate(50%, 0);
  transition: 2s;
}

.fade-in-bottom {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 2s;
}

.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.is-disappear {
  transform: scale(0);
  transition: 0.5s ease-out;
}

.is-appear {
  transform: scale(1);
}

.shake {
  transform: rotate(10deg);
  animation: shake-anim 3s linear infinite;
}

@keyframes shake-anim {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.rotate {
  animation: rotate-anim 5s linear infinite;
}

@keyframes rotate-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=stylesheet.css.map */