/* 変数 ------------------------------- */
$base-color: #b9d9c3;
$bg-color: #84fff9;
$primary-color: #eb5e30;
$secondary-color: #fbcb7b;
$tertialy-color: rgb(117, 42, 7);
$font-color: #48575e;
$font-subcolor: green;

/* 共通 ------------------------------- */
.media {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .media {
        font-size: 18px;
    }
}
@media screen and (min-width: 1024px) {
    .media {
        font-size: 20px;
    }
}
body {
    color: $font-color;
    font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
    font-weight: 600;
    transition: 2s;
    position: relative;
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 98%;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.smoke-top {
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 80px;
}
.smoke-bottom {
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    position: fixed;
    bottom: 0;
    z-index: 50;
    width: 100%;
    height: 80px;
}
.rope {
    position: absolute;
    top: 0;
    bottom: 180px;
    right: 15%;
    width: 8px;
    border: 1.5px solid black;
    background: linear-gradient(to right, rgb(192, 169, 124) 0%, rgb(210, 184, 134) 40%, rgb(146, 127, 90) 100%);
    z-index: 20;
}
.climber-frame {
    position: fixed;
    width: 8px;
    bottom: 15%;
    z-index: 30;
}
.climber {
    width: 120px;
    height: 180px;
    transform: translate(45%);
    background-image: url("../images/climber.svg") ;
    background-size: 300% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 30;
    float: right;
    animation: none;
}
@keyframes climbing {
    0% { background-position: 0 0; }
    100% { background-position: -240px 0; }
}
.button {
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    padding: 6px 18px;
    border-radius: 20px;
}
/* ヘッダー ------------------------------- */
header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-color {
    background-color: rgba($color: white, $alpha: 0.0)
}
.header-color-open {
    background-color: $secondary-color;
}
.logo {
    font-weight: 900;
    font-size: 24px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    cursor: pointer;
}
.hamburger-menu_bar {
    display: inline-block;
    width: 50%;
    height: 3px;
    background: $font-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}
.hamburger-menu_bar:first-child {
    top: 16px;
}
.hamburger-menu_bar:nth-child(2) {
    top: 24px;
}
.hamburger-menu_bar:last-child {
    top: 32px;
}
.hamburger-menu-open .hamburger-menu_bar {
    top: 50%;
}
.hamburger-menu-open .hamburger-menu_bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu_bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu_bar:nth-child(2) {
    display: none;
}
.navigation {
    display: none;
    background: $secondary-color;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 9999;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.navigation_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation_link {
    font-weight: 700;
    font-size: 16px;
    color: $font-color;
    text-decoration: none;
    display: block;
    padding: 8px 24px;
    transition: .5s;
}
/* メイン ------------------------------ */
.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bg-water.svg");
    background-size: cover;
}
.area-top {
    width: 100%;
    height: 100vh;
    margin-bottom: 8px;
}
.area {
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}
.area-orange {
    width: 100%;
    padding: 40px 0;
    position: relative;
    margin-bottom: 8px;
    background-color: $primary-color;
    border-top: 3px solid $font-color;
    border-bottom: 3px solid $font-color;
}
.area-horizon {
    width: 100%;
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
}
.area-vertical {
    width: 100%;
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}
.text-box {
    background-color: white;
    padding: 8px;
    border: 3px solid $font-color;
    border-radius: 12px;
    position: relative;
    z-index: 50;
}
.subtitle {
    width: 80%;
    margin: 0 auto; 
    display: block;
    position: relative;
    z-index: 50;
}
.push {
    position: absolute;
    width: 10%;
    transform: rotate(-10deg);
    bottom: 0;
    left: 0%;
}
.mugi-selif {
    background-image: url("../images/selif.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3% 10% 6% 10%;
    height: 40%;
    display: none;
    text-align: center;
    z-index: 50;
    font-size: 2em;
    font-weight: 800;
}
.palette {
    position: absolute;
    bottom: 0;
    left: -150px;
    border-radius: 50%;
    width: 300px;
    aspect-ratio: 1 / 1;
}
.palette-re {
    position: absolute;
    bottom: -150px;
    left: -300px;
    width: 600px;
    aspect-ratio: 1 / 1;
}
.bg-button {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid $font-color;
    &:active {
        width: 30%;
        height: 30%;
    }
}
.game-frame {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-button {
    width: 70%;
    height: 70%;
    border: 3px solid $font-color;
    border-radius: 10px;
    background-color: $primary-color;
    box-shadow: 0px 12px 0 #7a5143;
    transition: 0.3s;
}
.pop-sub {
    text-align: center;
    font-size: 1.5em;
    color: white;
}
.plan-slider {
    width: 100%;
    margin: 16px auto 64px auto;
    height: 80vh;
    z-index: 40;
}
.plan {
    width: 80%;
    height: 70vh;
    margin: 0 8px;
    background-color: $secondary-color;
    border-radius: 24px;
    border: 3px solid $font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plan-top {
    margin: 0 auto;
    height: 30%;
}
.plan-title {
    height: 10%;
    text-align: center;
    font-size: 10vw;
}
.bird-slider {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 30%;
    left: -120%;
    animation: birds 5s linear infinite;
}
@keyframes birds {
    0% { left: -120%; top: 60%; }
    80% { left: -120%; top: 60%; }
    100% { left: 100%; top: -100%; }
}
.area-footer {
    width: 100%;
    padding: 40px 0 100px 0;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
    background-color: $secondary-color;
    border-top: 3px solid $font-color;
}
/* jquery ---------------------------------- */
.fade-in-left {
    opacity: 0;
    transform: translate(-50%, 0);
    transition: 2s;
}
.fade-in-right {
    opacity: 0;
    transform: translate(50%, 0);
    transition: 2s;
}
.fade-in-bottom {
    opacity: 0;
    transform: translate(0, 50%);
    transition: 2s;
}
.is-show {
    transform: translate(0, 0);
    opacity: 1;
}
.is-disappear {
    transform: scale(0);
    transition: 0.5s ease-out;
}
.is-appear {
    transform: scale(1);
}
.wani {
    animation: r-to-l 20s linear infinite, up-down 1s steps(2) infinite;
}
@keyframes r-to-l {
    0% { left: 100%;}
    100% { left: -50%;}
}
.rakko {
    animation: l-to-r 20s linear infinite;
}
@keyframes l-to-r {
    0% { left: -50%;}
    100% { left: 100%;}
}
@keyframes up-down {
    0% { transform: translate(0, 8px); }
    100% { transform: translate(0, 0); }
}
.kirin {
    animation: peeping 7s linear infinite;
}
@keyframes peeping {
    0% { left: -50%;}
    45% { left: -50%;}
    50% { left: -5%;}
    95% { left: -5%;}
    100% { left: -50%;}
}
.shake {
    transform: rotate(10deg);
    animation: shake-anim 3s linear infinite;
}
@keyframes shake-anim {
    0% { transform: rotate(10deg); }
    20% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    100% { transform: rotate(10deg); }
}
.rotate {
    animation: rotate-anim 5s linear infinite;
}
@keyframes rotate-anim {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}