/* 変数 ------------------------------- */
$primary-color: #ffa35d;
$font-color: #505050;

/* 共通 ------------------------------- */
body {
    color: $font-color;
    font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.container {
    min-height: 600px;
    padding: 0 16px;
    margin: 0 auto;
    background-color: black;
}
.blank-screen {
    height: 30vh;
}
.smoke-top {
    background-color: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 60px;
}
/* ヘッダー ------------------------------- */
header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-color {
    background-color: rgba($color: white, $alpha: 0.0)
}
.header-color-open {
    background-color: $primary-color;
}
.logo {
    font-weight: 900;
    font-size: 24px;
    padding-left: 16px;
}
.hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    cursor: pointer;
}
.hamburger-menu_bar {
    display: inline-block;
    width: 50%;
    height: 3px;
    background: $font-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}
.hamburger-menu_bar:first-child {
    top: 16px;
}
.hamburger-menu_bar:nth-child(2) {
    top: 24px;
}
.hamburger-menu_bar:last-child {
    top: 32px;
}
.hamburger-menu-open .hamburger-menu_bar {
    top: 50%;
}
.hamburger-menu-open .hamburger-menu_bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu-open .hamburger-menu_bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu-open .hamburger-menu_bar:nth-child(2) {
    display: none;
}
.navigation {
    display: none;
    background: $primary-color;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 9999;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.navigation_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation_link {
    font-weight: 700;
    font-size: 16px;
    color: $font-color;
    text-decoration: none;
    display: block;
    padding: 8px 24px;
    transition: .5s;
}
/* メイン ------------------------------ */
.pop {
    width: 25%;
    margin: 0 auto;
}
.pop-image {
    width: 100%;
    height: auto;
}
.pop-text {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}
.huge {
    font-size: 20vw;
    font-weight: 900;
}
.cyan {
    color: cyan;
}
